<main
  style="background-image: url(/media/paperTexture.jpg); background-size:cover; height: 100vh; width:100vw; position:fixed; top:0; overflow:scroll;">
  <header class="row" style="display:flex; margin-bottom: 0; align-items:stretch;">
    <div class="col s3" style="display: flex; padding-left: 30px; align-items:center;">
      <h2 class="cyan-text text-darken-3">Bucket</h2>
    </div>
    <div class="col s6" style="display: flex; justify-content:center; align-items:center;">
      <h6 class="cyan-text text-darken-3">Welcome back, {{name}}</h6>
    </div>
    <div class="col s3" style="display: flex; flex-direction:row-reverse; padding-right: 30px; align-items:center;">
      <!-- Account Settings Dropdown Trigger -->
      <a class="dropdown-trigger btn cyan darken-3 white-text" href="#" data-target="account-dropdown">
        <i class="fa-solid fa-user"></i></a>

      <!-- Dropdown Content -->
      <ul id="account-dropdown" class="dropdown-content">
        <li><a href="#" id="logout-btn">Logout</a></li>
        <li><a href="#" id="delete-account-btn">Delete Account</a></li>
      </ul>

    </div>
  </header>

  <div class="container">

    {{!-- top section for adding a new idea to your bucket list --}}
    <div class="row" style="margin-bottom: 50px;">
      <div class="col s12">
        <div style="border: solid; border-radius: 1px; border-color: #00838f; padding: 20px;">
          <h6>Add an idea to your Bucket List:</h6>
          <form class="new-project-form">
            <div class="input-field">
              <input id="bucketlistitem-item" type="text" name="bucketlistitem-item" />
              <label for="bucketlistitem-item">Idea Title:</label>
            </div>
            <div class="input-field">
              <input id="bucketlistitem-desc" type="text" name="bucketlistitem-desc" />
              <label for="bucketlistitem-desc">Description:</label>
            </div>
            <button type="submit" class="waves-effect waves-light btn cyan darken-3 white-text">Add</button>
          </form>
        </div>
      </div>
    </div>

    {{!-- bottom section for displaying bucket list --}}

    {{#if bucketlistitems.length}}
    <h4 style="display: flex; justify-content: center; padding-bottom: 20px;">My Bucket List:</h4>
    {{#each bucketlistitems as |BucketListItem|}}

    {{!-- ✅ Each item inside its own row --}}
    <div class="row mb-2" style="display: flex; align-items:center;">

      {{!-- Left side of idea --}}
      <div class="col s8" style="display: flex; align-items: flex-start; flex-direction: column;">

        {{!-- Title --}}
        <h4 style="margin-right: 20px; margin-top: 13.68px;">{{BucketListItem.item}}</h4>

        {{!-- Description --}}
        <p>{{BucketListItem.description}}</p>

        {{!-- Buttons --}}
        <div style="display: flex; flex-direction: row; padding-top: 25px;">
          {{!-- Edit --}}
          <button class="waves-effect waves-light btn cyan darken-3 update white-text modal-trigger"
            style="margin-right: 20px; display:flex; justify-content:center; align-items:center; height: 35px; width: 35px;"
            data-target="update-modal" data-id="{{BucketListItem.id}}">
            <i class="fa-solid fa-pen" style="scale: 80%;"></i>
          </button>

          {{!-- Delete --}}
          <button class="waves-effect waves-light btn cyan darken-3 delete white-text"
            style="margin-right: 20px; display:flex; justify-content:center; align-items:center; height: 35px; width: 35px;"
            data-id="{{BucketListItem.id}}">
            <i class="fa-solid fa-trash" style="scale: 80%;"></i>
          </button>

          {{!-- Upload Form --}}
          <form class="image-upload-form" data-id="{{BucketListItem.id}}">
            <input type="file" class="image-upload-input" data-id="{{BucketListItem.id}}" accept="image/*"
              style="display: none;">
            <button type="button" class="waves-effect waves-light btn cyan darken-3 white-text upload-button"
              data-id="{{BucketListItem.id}}" style="height: 35px;">
              Upload Image
            </button>
          </form>
        </div>

      </div>

      {{!-- Right side of idea --}}
      <div class="col s4" style="display: flex; align-items: center; justify-content:space-between;">

        {{!-- Image Section --}}
        <div id="image-container-{{BucketListItem.id}}" style="display: flex; align-items:center;">
          {{#if BucketListItem.image}}
          <img src="/api/bucket/{{BucketListItem.id}}/image" alt="Bucket List Image"
            style="width: auto; max-height: 200px;">
          {{else}}
          <p id="no-image-text-{{BucketListItem.id}}">No image uploaded yet.</p>
          {{/if}}
        </div>

        {{!-- Completed Checkbox --}}
        <div style="display: flex; justify-content:center; align-items:center;">
          <label class="custom-checkbox">
            <input type="checkbox" class="completed-checkbox" data-id="{{BucketListItem.id}}" {{#if
              BucketListItem.completed}}checked{{/if}}>
            <span></span>
          </label>
        </div>

      </div>

    </div> <!-- End of .row -->

    {{#unless @last}}
    <hr style="border-style: solid; color:#00838f; margin-top: 15px; margin-bottom: 15px;">
    {{/unless}}

    {{/each}}
    {{else}}
    <p>Your Bucket list is empty, add some new ideas!</p>
    {{/if}}




    {{!-- Update/ edit pop-up form --}}
<div id="update-modal" class="modal">
  <div class="modal-content">

    <div style="display: flex; justify-content:space-between; align-items:center;">
      <h3>Edit Idea:</h3>
      <button type="button" class="modal-close waves-effect waves-light btn cyan darken-3 white-text">Back</button>
    </div>

    <form id="update-form" class="card-panel white lighten-5">

      {{!-- Title Input --}}
      <div class="input-field">
        <input id="update-bucketlistitem-item" type="text" />
        <label for="update-bucketlistitem-item">Idea Title</label>
      </div>

      {{!-- Description Input --}}
      <div class="input-field">
        <input id="update-bucketlistitem-desc" type="text" />
        <label for="update-bucketlistitem-desc">Description</label>
      </div>

      {{!-- Image preview section --}}
      <div class="row" style="display: flex; align-items: stretch;">
        <div class="col s9" id="update-image-container" style="text-align: center; display:flex; flex-direction:column;">
          <img id="update-image-preview" src="" alt="Bucket List Image"
            style="max-width: 150px; max-height: 150px; margin-bottom: 10px; display: none;"> <!-- Default hidden -->

          <div class="button-group" style="display: flex; gap: 10px; justify-content:left; align-items: center;">

            <input type="file" id="update-image-input" accept="image/*" style="display: none;">

            <button type="button" id="update-image-button"
              class="waves-effect waves-light btn cyan darken-3 white-text">
              Replace Image
            </button>

            <button type="button" class="waves-effect waves-light btn red darken-3 white-text delete-image-button"
              data-id="">
              Delete Image
            </button>
            
          </div>
        </div>

        <div class="col s3" style="display: flex; justify-content: flex-end; margin-top: 10px; flex-direction:column;">
          <button type="submit" class="modal-close waves-effect waves-light btn cyan darken-3 white-text"
            id="save-updates">
            Save Changes
          </button>
        </div>

      </div>  

    </form>
  </div>
</div>



    <!-- Delete Account Confirmation Modal -->
    <div id="deleteAccountModal" class="modal">
      <div class="modal-content">
        <h4>Confirm Account Deletion</h4>
        <p>Are you sure you want to delete your account? This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
        <button id="confirm-delete-account" class="waves-effect waves-red btn red darken-3 white-text">Delete
          Account</button>
      </div>
    </div>

  </div>

</main>

<script src="/js/profile.js"></script>