<main class="" style="background-image: url(/media/paperTexture.jpg);">
  <header class="row" style="display:flex; margin-bottom: 0; align-items:stretch;">
    <div class="col s3" style="display: flex; padding-left: 30px; align-items:center;">
      <h2 class="cyan-text text-darken-3">Bucket</h2>
    </div>
    <div class="col s6" style="display: flex; justify-content:center; align-items:center;">
      <h6 class="cyan-text text-darken-3">Welcome back, {{name}}</h6>
    </div>
    <div class="col s3" style="display: flex; flex-direction:row-reverse; padding-right: 30px; align-items:center;">
      <a href="/" class="waves-effect waves-light btn cyan darken-3 white-text">Home</a>
    </div>
  </header>

  <div class="container">

    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <h6>Add an idea to your Bucket List:</h6>
          <form class="new-project-form">
            <div class="input-field">
              <input id="bucketlistitem-item" type="text" name="bucketlistitem-item" />
              <label for="bucketlistitem-item">Idea Title:</label>
            </div>
            <div class="input-field">
              <input id="bucketlistitem-desc" type="text" name="bucketlistitem-desc" />
              <label for="bucketlistitem-desc">Description:</label>
            </div>
            <div class="input-field">
              <input id="bucketlistitem-category" type="text" name="bucketlistitem-category" />
              <label for="bucketlistitem-category">Category:</label>
            </div>
            <button type="submit" class="waves-effect waves-light btn cyan darken-3 white-text">Add</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12" style="padding-bottom: 15px;">
        <div class="card-panel">
          {{#if bucketlistitems.length}}
          <h4>My Bucket List:</h4>
          {{#each bucketlistitems as |BucketListItem|}}
          <div class="row mb-2">
            <div class="col s8">
              <h5>{{BucketListItem.item}}</h5>
              <p>Category: {{BucketListItem.category}}</p>
              <p>Description: {{BucketListItem.description}}</p>
              <label>
                <input type="checkbox" />
                <span>Completed?</span>
              </label>
              </p>
            </div>
            <div class="col s4" style="display: flex; flex-direction: column; gap: 10px;">
              <button class="waves-effect waves-light btn cyan darken-3 update white-text modal-trigger" data-target="update-modal"
                data-id="{{BucketListItem.id}}">Edit</button>
              <button class="waves-effect waves-light btn cyan darken-3 delete white-text"
                data-id="{{BucketListItem.id}}">Delete</button>
            </div>
          </div>
          {{/each}}
          {{else}}
          <p>Your Bucket list is empty, add some new ideas!</p>
          {{/if}}
        </div>
      </div>
    </div>

  </div>

  {{!-- Update/ edit pop-up form --}}
  {{!-- <div style="display: flex; justify-content: center; align-items: center; position: fixed; top: 0; width: 100%; height: 100vh;"> --}}
    <div id="update-modal" class="modal">
      <div class="modal-content">
        <h3 id="update-title">Edit Idea:</h3>
        <form id="update-form" class="card-panel white lighten-5">
          <div class="input-field">
            <input id="update-bucketlistitem-item" type="text" />
            <label for="update-bucketlistitem-item"></label>
          </div>
          <div class="input-field">
            <input id="update-bucketlistitem-category" type="text" />
            <label for="update-bucketlistitem-category"></label>
          </div>
          <div class="input-field">
            <input id="update-bucketlistitem-desc" type="text" />
            <label for="update-bucketlistitem-desc"></label>
          </div>
          <div class="modal-footer">
            <button type="submit" class="modal-close waves-effect waves-light btn cyan darken-3 white-text">Save
              Changes</button>
            <button type="cancel" class="modal-close waves-effect waves-light btn cyan darken-3 white-text">Back</button>
          </div>
        </form>
      </div>
      
    </div>

  </div>
</main>

<script src="/js/profile.js"></script>