<main class="orange lighten-3">
  <header class="row valign-wrapper">
          <div class="col s6 valign-wrapper">
              <h2 class="cyan-text text-darken-3">Bucket</h2>
          </div>
          <div class="col s3 valign-wrapper">
              <h6 class="cyan-text text-darken-3 text">Welcome back {{name}}</h6>
          </div>
          <div class="col s2 valign-wrapper">
            <a location="/views/homePage" class="waves-effect waves-light btn grey darken-4"><span class="orange-text text-lighten-3">Home</span></a>
          </div>
  </header>


  {{!--This is the bucket list--}}
  <div class="row">

    <div class="col s8">
      <div class="card-panel" style="background-color: rgba(255, 255, 255, 0.75);"> 

        {{#if bucketlistitems.length}}
        <div class="col-md-6 project-list">
          <h3>My Bucket List:</h3>

          {{#each bucketlistitems as |BucketListItem|}}
          <div class="row mb-2">
            <div class="col-md-8">
            <h4>{{BucketListItem.item}}</h4>
            <p>Category: {{BucketListItem.category}}</p>
            <p>Description: {{BucketListItem.description}}</p>
          </div>
          <div class="col-md-4">
            <button class="btn btn-sm btn-warning" data-id="{{BucketListItem.id}}">UPDATE</button>
            <button class="btn btn-sm btn-danger" data-id="{{BucketListItem.id}}">DELETE</button>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>

  {{!--Add the inital bucket list idea or add more--}}
  <div class="col s4">
    <div class="card-panel" style="background-color: rgba(255, 255, 255, 0.75);"> 

      <h5>Add an idea to your Bucket List:</h5>

      <form class="form new-project-form">
        <div class="form-group">
          <label for="bucketlistitems-item">Idea Title:</label>
          <input class="form-input" type="text" id="bucketlistitem-item" name="project-funding" />
        </div>
        <div class="form-group">
          <label for="bucketlistitems-category">Category:</label>
          <input class="form-input" id="bucketlistitem-category" name="project-desc"></input>
        </div>

        <div class="form-group">
          <label for="bucketlistitems-desc">Description:</label>
          <input class="form-input" id="bucketlistitem-desc" name="project-desc"></input>
          </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>

    </div>
  </div>

  {{!-- renders form data to display as a bucketlist item --}}

    

  <!-- Update form for bucket list item -->
  <form id="update-form" style="display:none;" class="mt-4">
    <h3>Update Bucket List Item:</h3>
    <div class="form-group">
      <label for="update-bucketlistitem-item">Item:</label>
      <input class="form-input black-text text-darken-3" type="text" id="update-bucketlistitem-item" />
    </div>
    <div class="form-group">
      <label for="update-bucketlistitem-category">Category:</label>
      <textarea class="form-input" id="update-bucketlistitem-category"></textarea>
    </div>
    <div class="form-group">
      <label for="update-bucketlistitem-desc">Description:</label>
      <textarea class="form-input" id="update-bucketlistitem-desc"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit Update</button>
    </div>
  </form>

</main>

<script src="/js/profile.js"></script>